@model IEnumerable<CummulativeProject.Models.Teacher>

@{
    ViewBag.Title = "List of Teachers";
}

<h2>Teachers</h2>

<form class="search-form" action="/Teacher/List" method="GET">
    <div>
        <label for="Name">Teacher Name</label>
        <input type="text" name="Name" id="Name" placeholder="Enter Teacher Name" />
    </div>
    <div>
        <label for="MinHireDate">Hire Date From</label>
        <input type="date" name="MinHireDate" id="MinHireDate" placeholder="Select From Hire Date" />
    </div>
    <div>
        <label for="MaxHireDate">Hire Date To</label>
        <input type="date" name="MaxHireDate" id="MaxHireDate" placeholder="Select To Hire Date" />
    </div>
    <div>
        <label for="MinSalary">Minimum Salary</label>
        <input type="number" name="MinSalary" id="MinSalary" step="0.1" placeholder="Enter Min. Salary" />
    </div>
    <div>
        <label for="MaxSalary">Maximum Salary</label>
        <input type="number" name="MaxSalary" id="MaxSalary" step="0.1" placeholder="Enter Max. Salary" />
    </div>
    <button class="btn-primary">Search</button>
</form>
<div>
    <a href="/Teacher/New" class="btn btn-info btn-lg fw-medium mb-4">Add Teacher</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Teacher Name</th>
            <th>Employee Number</th>
            <th>Hire Date</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CummulativeProject.Models.Teacher Teacher in Model)
        {
            <tr>
                <td>@Teacher.TeacherFname @Teacher.TeacherLname</td>
                <td class="text-uppercase">@Teacher.EmployeeNumber</td>
                <td>@Teacher.HireDate.ToShortDateString()</td>
                <td>@Teacher.Salary</td>
                <td><a href="/Teacher/Show/@Teacher.TeacherId">View</a></td>
            </tr>
        }
    </tbody>
</table>
